<div>
    <% if flash[:alert] %>
        <div>
            <h2>
                <%= flash[:alert] %>
            </h2> 
            <ul>
                <% flash[:error_messages].each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
</div>